<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://localhost:3000/css/bootstrap.css">
<link rel="stylesheet" href="http://localhost:3000/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="http://localhost:3000/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="http://localhost:3000/css/site.css">
<script src="http://localhost:3000/js/jquery.min.js"></script>
<script src="http://localhost:3000/js/bootstrap.js"></script> 
<script src="http://localhost:3000/js/jquery.dataTables.min.js"></script> 
<script src="http://localhost:3000/js/dataTables.bootstrap.min.js"></script> 
<script src="http://localhost:3000/js/bootstrap-datepicker.js"></script> 
	<title>Hallo there</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#">Portfolio</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Home</a></li>
	        <li><a href="#">About</a></li>
	        <li><a href="#">Gallery</a></li>
	        <li><a href="#">Contact</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span></a>
	        	<span class="counter">3</span>
		  		<ul class="dropdown-menu">
		    		<li><a href="#">HTML</a></li>
		    		<li><a href="#">CSS</a></li>
		    		<li><a href="#">JavaScript</a></li>
		  		</ul>
	        </li>
	        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	        <li class="dropdown">
	        	<a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown" aria-expanded="false" style="padding-top:10px;padding-bottom:5px;">
	        		<div class="peer mR-10"><img class="avatar" src="http://localhost:3000/image/img_avatar.png" alt=""></div>
	        	</a>
	        	<ul class="dropdown-menu fsz-sm">
	        		<li><a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-settings mR-10"></i> <span>Setting</span></a></li><li><a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-user mR-10"></i> <span>Profile</span></a></li><li><a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-email mR-10"></i> <span>Messages</span></a></li><li role="separator" class="divider"></li><li><a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-power-off mR-10"></i> <span>Logout</span></a></li>
	        	</ul>
	        </li>
	        <!-- <li> <img src="<?php //echo base_url() ?>image/img_avatar.png" alt="Avatar" class="avatar mR-10"></li> -->
	      </ul>

	    </div>
	  </div>
	</nav>
 
	<div class="container-fluid">
	  <div class="row content">
	    <div class="col-sm-3 sidenav">
	      <h4></h4>
	    	
	      <ul class="nav nav-pills nav-stacked">
	        <li class="active"><a href="welcome/index.asp">User</a></li>
	        <li><a href="http://localhost:3000/buku">Buku</a></li>
	        <li><a href="http://localhost:3000/anggota">Anggota</a></li>
	        <li><a href="http://localhost:3000/peminjaman">Peminjaman</a></li>
	      </ul><br>
	      <div class="input-group">
	        <input type="text" class="form-control" placeholder="Search Blog..">
	        <span class="input-group-btn">
	          <button class="btn btn-default" type="button">
	            <span class="glyphicon glyphicon-search"></span>
	          </button>
	        </span>
	      </div>
	    </div>
	    <div class="col-sm-9">
	    	<div class="loading_new">
	    	</div>
	      <div class="row" id="main_content" style="padding-left: 15px;">
	     
	      	<% if(typeof  render_view['msg']!='undefined'){ %>
	      	<div class="alert alert-info alert-dismissible" id="myAlert" style="<% if (render_view['msg'].length > 0) { %>
			    <%= 'display: block;' %>;
				<% } %>">
			    <a href="#" class="close" data-dismiss="alert">&times;</a>
			    <strong>Success!</strong> <% if (render_view['msg'].length > 0) { %>
			    <%= render_view['msg'] %>
				<% } %>

			</div>
			<% } %> 
			
	    		<% include ../main %>
	      </div>
	    </div>

	  </div>
	</div>

</body>
</html>

<style type="text/css">
.counter {
      background-color: #ff3c7e;
      border-radius: 40px;
      color: #fff;
      font-size: 9px;
      line-height: 1;
      padding: 3px 5.5px;
      position: absolute;
      right: 8px;
      top: 8px;
    }

.loading_new{
	position: fixed;
	display: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../image/loading.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
    }
.avatar {
	/*top: 18px;*/
    display: block;
    /*height: auto;*/
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.mR-10 {

    margin-right: 10px !important;

}

#myAlert {
    position: fixed;
    display: none;
    z-index: 500;
    top: 10px;
    /*left: 0;*/
    right: 0;
    /*background: #fde073;*/
    text-align: center;
         animation:signup-response 0.5s 1;
    -webkit-animation:signup-response 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:2s;
    -webkit-animation-delay:1s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
    /*line-height: 2.5;*/
    /*overflow: hidden; */
    /*-webkit-box-shadow: 0 0 5px black;*/
    /*-moz-box-shadow:    0 0 5px black;*/
    /*box-shadow:         0 0 5px black;*/
}
</style>
<script>
$(document).ready(function(){
	$("#myAlert").delay( 10 ).fadeOut( 3000 );
});
</script>
